<div class="col-md-12" id="pageFooter" style="background-color:#ffffcc; padding:25px 25px 25px 25px;">    
    <em><h3 style="text-align: center">Wet Dog Software</h3></em>
    <h4 style="text-align: center">Boulder, Colorado</h4> 
    <h4 style="text-align: center">wetdogsoftware.com</h4>
</div>